html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: aqua;
  font-family: cursive;
}

main {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  position: absolute;
  top: 10px;
  left: 10px; 
  font-size: 1.5em;
  font-family: cursive;
}
h2 {
  margin-top: 50px;
  font-size: 2.5em;
  padding: 0;
  margin-bottom: 10px;
}
figure {
  max-width:fit-content;
  padding: 0;
  margin: 0;
  text-align: center;
}
img {
  width: 70%
}
figure {
  width: 100%;
  font-size: 2.5em;
}